<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Track your Policy</title>
</head>
<body>
    <div class="track-container">
            <div class="track-input-container">
            <img src="{{url_for('static', filename='img/track-page-icon.svg')}}" alt="">
            <h2>To Track your Policy</h2>
            <form method="POST" action="/track">
                <select name="insurance_type" id="insurance_type">
                    <option value="" disabled selected>Select Insurance Type</option>
                    <option value="Motor Insurance">Motor Insurance</option>
                    <option value="Health Insurance">Health Insurance</option>
                    <option value="Travel Insurance">Travel Insurance</option>
                    <option value="Property Insurance">Property Insurance</option>
                    <option value="Workmen Insurance">Workmen Insurance</option>
                </select>
                <br>
                <!-- <label for="company_name">Company Name:</label> -->
                <!-- <input type="text" id="company_name" name="company_name" placeholder="Company Name"> -->
                <select name="company_name" id="company_name">
                    <option value="" disabled selected>Select Company Name</option>
                    <option value="Bajaj">Bajaj</option>
                    <option value="TATA AIG">TATA AIG</option>
                    <option value="ICICI Lombard">ICICI Lombard</option>
                    <option value="GoDigit">GoDigit</option>
                    <option value="Liberty">Liberty</option>
                    <option value="New India">New India</option>
                    <option value="Oriental">Oriental</option>
                    <option value="National">National</option>
                    <option value="Sriram">Sriram</option>
                    <option value="HDFC">HDFC</option>
                    <option value="LIC">LIC</option>
                </select>
                <br>
                <!-- <label for="policy_no">Policy No:</label> -->
                <input type="text" id="policy_no" name="policy_no" placeholder="Policy No" required>
                <br>
                <input type="submit" id="submit" value="Track">
            </form>
        </div>
    </div>
    
</body>
</html>